@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-padding-default: 24px;

  --page-padding-left: max(
    env(safe-area-inset-left),
    var(--page-padding-default)
  );
  --page-padding-right: max(
    env(safe-area-inset-right),
    var(--page-padding-default)
  );
}

@media (min-width: 641px) {
  :root {
    --page-padding-default: 32px;
  }
}

@layer utilities {
  .padding-page {
    @apply pl-page-left pr-page-right;
  }
}
